<form method="post" action="{% url 'ck_editor:post_update' form.instance.pk %}" class="js-post-update-form">
  {% csrf_token %}
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title">Update post</h4>
  </div>
  <div class="modal-body">
    {% include 'ck_editor/includes/partial_post_form.html' %}

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">Update post</button>
  </div>
</form>